name: Run TwitchTrendsAnalyzer Bot

on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium pandas requests

    - name: Install Chrome
      run: |
        sudo apt-get update
        sudo apt-get install -yq --no-install-recommends \
          wget \
          gnupg2 \
          unzip \
          xvfb \
          libxi6 \
          libgconf-2-4 \
          libnss3 \
          chromium-chromedriver
        sudo mv /usr/lib/chromium-browser/chromedriver /usr/bin/
        export PATH=$PATH:/usr/bin/chromedriver
        
    - name: Run the script
      run: python3 TwitchTrendsAnalyzer.py
