name: Run TwitchTrendsAnalyzer Bot

on: 
  schedule:
    - cron: '0 0 * * *'  # Isso executa todos os dias à meia-noite.
  workflow_dispatch:  # Isso permite a execução manual através do GitHub UI.

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium pandas openpyxl requests

    - name: Run the script
      run: python3 TwitchTrendsAnalyzer.py
