name: Run TwitchTrendsAnalyzer Bot

on:
  schedule:
    - cron:  '0 0 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install selenium pandas requests

    - name: Setup ChromeDriver
      run: |
        sudo apt-get update
        sudo apt-get install -y wget unzip xvfb libxi6 libgconf-2-4 gnupg2 libnss3 chromium-chromedriver
        sudo chown root:root /usr/bin/chromedriver
        sudo chmod +x /usr/bin/chromedriver

    - name: Setup Locale
      run: |
        sudo apt-get install -y locales
        sudo locale-gen pt_BR.UTF-8
        sudo update-locale LANG=pt_BR.UTF-8
        
    - name: Run the script
      run: python3 TwitchTrendsAnalyzer.py
